*,
html,
body {
    margin: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    background-color: #361358;
}

#container .container_history {
    width: 20%;
    height: 100vh;

    background: #fff;
}

#container .container_request {
    width: 80%;
}