@model WebCrawler.UI.Models.ErrorViewModel;
@{
}

<head>
    <link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
</head>
<div id="error">
    <h1>@Model.Code</h1>
    <h2>@Model.Message</h2>
</div>
