@model WebCrawler.UI.Models.RadixViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Web Crawler";
}
﻿
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/WebCrawler.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div id="container">
        <img src="~/images/webcrawler.png">

        <form asp-controller="Crawler" asp-action="ProcessUrl" method="get">
            <input autofocus autocomplete="on" asp-for="Path" class="form_input" type="text" />
            <button class="form_button" type="submit">
                <div class="ico">
                </div>
            </button>
        </form>
    </div>
</body>
</html>

